In [1]:
import pandas as pd
import sklearn
import nltk
import string
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv (r'D:\Project\Datasetproject\Dataset-Sentimen-Analisis-Bahasa-Indonesia-master/dataset_tweet_sentiment_cellular_service_provider.csv')

In [3]:
df

    Sentiment                                         Text Tweet
0    positive  <USER_MENTION> #BOIKOT_<PROVIDER_NAME> Gunakan...
1    positive  Saktinya balik lagi, alhamdulillah :v <PROVIDE...
2    negative  Selamat pagi <PROVIDER_NAME>  bisa bantu kenap...
3    negative  Dear <PROVIDER_NAME> akhir2 ini jaringan data ...
4    negative            Selamat malam PENDUSTA <PROVIDER_NAME>
..        ...                                                ...
295  positive  Pantesan lancar ya, sinyal <PROVIDER_NAME> yan...
296  positive         Alhamdulillah lancar pakai <PROVIDER_NAME>
297  positive  Untung pakai internet <PROVIDER_NAME>, lancar,...
298  positive  di tempat ramai seperti di lokasi wisata, <PRO...
299  negative  Sinyal <PROVIDER_NAME> amsyong d stadion gajayana

[300 rows x 2 columns]

In [4]:
df=df.dropna()

In [5]:
df.describe()

       Sentiment                                         Text Tweet
count        300                                                300
unique         2                                                298
top     negative  Jaringan internet <PROVIDER_NAME> di sumba tim...
freq         161                                                  2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sentiment   300 non-null    object
 1   Text Tweet  300 non-null    object
dtypes: object(2)
memory usage: 7.0+ KB

In [7]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [8]:
df['Jumlah Kata per Tweet'] = df['Text Tweet'].str.split().str.len()

In [9]:
df

,Sentiment,Text Tweet,Jumlah Kata per Tweet
0,positive,<USER_MENTION> #BOIKOT_<PROVIDER_NAME> Gunakan...,7
1,positive,"Saktinya balik lagi, alhamdulillah :v <PROVIDE...",6
2,negative,Selamat pagi <PROVIDER_NAME> bisa bantu kenap...,19
3,negative,Dear <PROVIDER_NAME> akhir2 ini jaringan data ...,11
4,negative,Selamat malam PENDUSTA <PROVIDER_NAME>,4
...,...,...,...
295,positive,"Pantesan lancar ya, sinyal <PROVIDER_NAME> yan...",12
296,positive,Alhamdulillah lancar pakai <PROVIDER_NAME>,4
297,positive,"Untung pakai internet <PROVIDER_NAME>, lancar,...",9
298,positive,"di tempat ramai seperti di lokasi wisata, <PRO...",10
299,negative,Sinyal <PROVIDER_NAME> amsyong d stadion gajayana,6

In [10]:
df['Jumlah Kata per Tweet'].describe()

count    300.000000
mean      11.336667
std        5.300658
min        2.000000
25%        7.000000
50%       11.000000
75%       15.000000
max       24.000000
Name: Jumlah Kata per Tweet, dtype: float64

In [11]:
from nltk.corpus import stopwords
print(stopwords.words("indonesian"))

['ada', 'adalah', 'adanya', 'adapun', 'agak', 'agaknya', 'agar', 'akan', 'akankah', 'akhir', 'akhiri', 'akhirnya', 'aku', 'akulah', 'amat', 'amatlah', 'anda', 'andalah', 'antar', 'antara', 'antaranya', 'apa', 'apaan', 'apabila', 'apakah', 'apalagi', 'apatah', 'artinya', 'asal', 'asalkan', 'atas', 'atau', 'ataukah', 'ataupun', 'awal', 'awalnya', 'bagai', 'bagaikan', 'bagaimana', 'bagaimanakah', 'bagaimanapun', 'bagi', 'bagian', 'bahkan', 'bahwa', 'bahwasanya', 'baik', 'bakal', 'bakalan', 'balik', 'banyak', 'bapak', 'baru', 'bawah', 'beberapa', 'begini', 'beginian', 'beginikah', 'beginilah', 'begitu', 'begitukah', 'begitulah', 'begitupun', 'bekerja', 'belakang', 'belakangan', 'belum', 'belumlah', 'benar', 'benarkah', 'benarlah', 'berada', 'berakhir', 'berakhirlah', 'berakhirnya', 'berapa', 'berapakah', 'berapalah', 'berapapun', 'berarti', 'berawal', 'berbagai', 'berdatangan', 'beri', 'berikan', 'berikut', 'berikutnya', 'berjumlah', 'berkali-kali', 'berkata', 'berkehendak', 'berkeinginan', 'berkenaan', 'berlainan', 'berlalu', 'berlangsung', 'berlebihan', 'bermacam', 'bermacam-macam', 'bermaksud', 'bermula', 'bersama', 'bersama-sama', 'bersiap', 'bersiap-siap', 'bertanya', 'bertanya-tanya', 'berturut', 'berturut-turut', 'bertutur', 'berujar', 'berupa', 'besar', 'betul', 'betulkah', 'biasa', 'biasanya', 'bila', 'bilakah', 'bisa', 'bisakah', 'boleh', 'bolehkah', 'bolehlah', 'buat', 'bukan', 'bukankah', 'bukanlah', 'bukannya', 'bulan', 'bung', 'cara', 'caranya', 'cukup', 'cukupkah', 'cukuplah', 'cuma', 'dahulu', 'dalam', 'dan', 'dapat', 'dari', 'daripada', 'datang', 'dekat', 'demi', 'demikian', 'demikianlah', 'dengan', 'depan', 'di', 'dia', 'diakhiri', 'diakhirinya', 'dialah', 'diantara', 'diantaranya', 'diberi', 'diberikan', 'diberikannya', 'dibuat', 'dibuatnya', 'didapat', 'didatangkan', 'digunakan', 'diibaratkan', 'diibaratkannya', 'diingat', 'diingatkan', 'diinginkan', 'dijawab', 'dijelaskan', 'dijelaskannya', 'dikarenakan', 'dikatakan', 'dikatakannya', 'dikerjakan', 'diketahui', 'diketahuinya', 'dikira', 'dilakukan', 'dilalui', 'dilihat', 'dimaksud', 'dimaksudkan', 'dimaksudkannya', 'dimaksudnya', 'diminta', 'dimintai', 'dimisalkan', 'dimulai', 'dimulailah', 'dimulainya', 'dimungkinkan', 'dini', 'dipastikan', 'diperbuat', 'diperbuatnya', 'dipergunakan', 'diperkirakan', 'diperlihatkan', 'diperlukan', 'diperlukannya', 'dipersoalkan', 'dipertanyakan', 'dipunyai', 'diri', 'dirinya', 'disampaikan', 'disebut', 'disebutkan', 'disebutkannya', 'disini', 'disinilah', 'ditambahkan', 'ditandaskan', 'ditanya', 'ditanyai', 'ditanyakan', 'ditegaskan', 'ditujukan', 'ditunjuk', 'ditunjuki', 'ditunjukkan', 'ditunjukkannya', 'ditunjuknya', 'dituturkan', 'dituturkannya', 'diucapkan', 'diucapkannya', 'diungkapkan', 'dong', 'dua', 'dulu', 'empat', 'enggak', 'enggaknya', 'entah', 'entahlah', 'guna', 'gunakan', 'hal', 'hampir', 'hanya', 'hanyalah', 'hari', 'harus', 'haruslah', 'harusnya', 'hendak', 'hendaklah', 'hendaknya', 'hingga', 'ia', 'ialah', 'ibarat', 'ibaratkan', 'ibaratnya', 'ibu', 'ikut', 'ingat', 'ingat-ingat', 'ingin', 'inginkah', 'inginkan', 'ini', 'inikah', 'inilah', 'itu', 'itukah', 'itulah', 'jadi', 'jadilah', 'jadinya', 'jangan', 'jangankan', 'janganlah', 'jauh', 'jawab', 'jawaban', 'jawabnya', 'jelas', 'jelaskan', 'jelaslah', 'jelasnya', 'jika', 'jikalau', 'juga', 'jumlah', 'jumlahnya', 'justru', 'kala', 'kalau', 'kalaulah', 'kalaupun', 'kalian', 'kami', 'kamilah', 'kamu', 'kamulah', 'kan', 'kapan', 'kapankah', 'kapanpun', 'karena', 'karenanya', 'kasus', 'kata', 'katakan', 'katakanlah', 'katanya', 'ke', 'keadaan', 'kebetulan', 'kecil', 'kedua', 'keduanya', 'keinginan', 'kelamaan', 'kelihatan', 'kelihatannya', 'kelima', 'keluar', 'kembali', 'kemudian', 'kemungkinan', 'kemungkinannya', 'kenapa', 'kepada', 'kepadanya', 'kesampaian', 'keseluruhan', 'keseluruhannya', 'keterlaluan', 'ketika', 'khususnya', 'kini', 'kinilah', 'kira', 'kira-kira', 'kiranya', 'kita', 'kitalah', 'kok', 'kurang', 'lagi', 'lagian', 'lah', 'lain', 'lainnya', 'lalu', 'lama', 'lamanya', 'lanjut', 'lanjutnya', 'lebih', 'lewat', 'lima', 'luar', 'macam', 'maka', 'makanya', 'makin', 'malah', 'malahan', 'mampu', 'mampukah', 'mana', 'manakala', 'manalagi', 'masa', 'masalah', 'masalahnya', 'masih', 'masihkah', 'masing', 'masing-masing', 'mau', 'maupun', 'melainkan', 'melakukan', 'melalui', 'melihat', 'melihatnya', 'memang', 'memastikan', 'memberi', 'memberikan', 'membuat', 'memerlukan', 'memihak', 'meminta', 'memintakan', 'memisalkan', 'memperbuat', 'mempergunakan', 'memperkirakan', 'memperlihatkan', 'mempersiapkan', 'mempersoalkan', 'mempertanyakan', 'mempunyai', 'memulai', 'memungkinkan', 'menaiki', 'menambahkan', 'menandaskan', 'menanti', 'menanti-nanti', 'menantikan', 'menanya', 'menanyai', 'menanyakan', 'mendapat', 'mendapatkan', 'mendatang', 'mendatangi', 'mendatangkan', 'menegaskan', 'mengakhiri', 'mengapa', 'mengatakan', 'mengatakannya', 'mengenai', 'mengerjakan', 'mengetahui', 'menggunakan', 'menghendaki', 'mengibaratkan', 'mengibaratkannya', 'mengingat', 'mengingatkan', 'menginginkan', 'mengira', 'mengucapkan', 'mengucapkannya', 'mengungkapkan', 'menjadi', 'menjawab', 'menjelaskan', 'menuju', 'menunjuk', 'menunjuki', 'menunjukkan', 'menunjuknya', 'menurut', 'menuturkan', 'menyampaikan', 'menyangkut', 'menyatakan', 'menyebutkan', 'menyeluruh', 'menyiapkan', 'merasa', 'mereka', 'merekalah', 'merupakan', 'meski', 'meskipun', 'meyakini', 'meyakinkan', 'minta', 'mirip', 'misal', 'misalkan', 'misalnya', 'mula', 'mulai', 'mulailah', 'mulanya', 'mungkin', 'mungkinkah', 'nah', 'naik', 'namun', 'nanti', 'nantinya', 'nyaris', 'nyatanya', 'oleh', 'olehnya', 'pada', 'padahal', 'padanya', 'pak', 'paling', 'panjang', 'pantas', 'para', 'pasti', 'pastilah', 'penting', 'pentingnya', 'per', 'percuma', 'perlu', 'perlukah', 'perlunya', 'pernah', 'persoalan', 'pertama', 'pertama-tama', 'pertanyaan', 'pertanyakan', 'pihak', 'pihaknya', 'pukul', 'pula', 'pun', 'punya', 'rasa', 'rasanya', 'rata', 'rupanya', 'saat', 'saatnya', 'saja', 'sajalah', 'saling', 'sama', 'sama-sama', 'sambil', 'sampai', 'sampai-sampai', 'sampaikan', 'sana', 'sangat', 'sangatlah', 'satu', 'saya', 'sayalah', 'se', 'sebab', 'sebabnya', 'sebagai', 'sebagaimana', 'sebagainya', 'sebagian', 'sebaik', 'sebaik-baiknya', 'sebaiknya', 'sebaliknya', 'sebanyak', 'sebegini', 'sebegitu', 'sebelum', 'sebelumnya', 'sebenarnya', 'seberapa', 'sebesar', 'sebetulnya', 'sebisanya', 'sebuah', 'sebut', 'sebutlah', 'sebutnya', 'secara', 'secukupnya', 'sedang', 'sedangkan', 'sedemikian', 'sedikit', 'sedikitnya', 'seenaknya', 'segala', 'segalanya', 'segera', 'seharusnya', 'sehingga', 'seingat', 'sejak', 'sejauh', 'sejenak', 'sejumlah', 'sekadar', 'sekadarnya', 'sekali', 'sekali-kali', 'sekalian', 'sekaligus', 'sekalipun', 'sekarang', 'sekarang', 'sekecil', 'seketika', 'sekiranya', 'sekitar', 'sekitarnya', 'sekurang-kurangnya', 'sekurangnya', 'sela', 'selain', 'selaku', 'selalu', 'selama', 'selama-lamanya', 'selamanya', 'selanjutnya', 'seluruh', 'seluruhnya', 'semacam', 'semakin', 'semampu', 'semampunya', 'semasa', 'semasih', 'semata', 'semata-mata', 'semaunya', 'sementara', 'semisal', 'semisalnya', 'sempat', 'semua', 'semuanya', 'semula', 'sendiri', 'sendirian', 'sendirinya', 'seolah', 'seolah-olah', 'seorang', 'sepanjang', 'sepantasnya', 'sepantasnyalah', 'seperlunya', 'seperti', 'sepertinya', 'sepihak', 'sering', 'seringnya', 'serta', 'serupa', 'sesaat', 'sesama', 'sesampai', 'sesegera', 'sesekali', 'seseorang', 'sesuatu', 'sesuatunya', 'sesudah', 'sesudahnya', 'setelah', 'setempat', 'setengah', 'seterusnya', 'setiap', 'setiba', 'setibanya', 'setidak-tidaknya', 'setidaknya', 'setinggi', 'seusai', 'sewaktu', 'siap', 'siapa', 'siapakah', 'siapapun', 'sini', 'sinilah', 'soal', 'soalnya', 'suatu', 'sudah', 'sudahkah', 'sudahlah', 'supaya', 'tadi', 'tadinya', 'tahu', 'tahun', 'tak', 'tambah', 'tambahnya', 'tampak', 'tampaknya', 'tandas', 'tandasnya', 'tanpa', 'tanya', 'tanyakan', 'tanyanya', 'tapi', 'tegas', 'tegasnya', 'telah', 'tempat', 'tengah', 'tentang', 'tentu', 'tentulah', 'tentunya', 'tepat', 'terakhir', 'terasa', 'terbanyak', 'terdahulu', 'terdapat', 'terdiri', 'terhadap', 'terhadapnya', 'teringat', 'teringat-ingat', 'terjadi', 'terjadilah', 'terjadinya', 'terkira', 'terlalu', 'terlebih', 'terlihat', 'termasuk', 'ternyata', 'tersampaikan', 'tersebut', 'tersebutlah', 'tertentu', 'tertuju', 'terus', 'terutama', 'tetap', 'tetapi', 'tiap', 'tiba', 'tiba-tiba', 'tidak', 'tidakkah', 'tidaklah', 'tiga', 'tinggi', 'toh', 'tunjuk', 'turut', 'tutur', 'tuturnya', 'ucap', 'ucapnya', 'ujar', 'ujarnya', 'umum', 'umumnya', 'ungkap', 'ungkapnya', 'untuk', 'usah', 'usai', 'waduh', 'wah', 'wahai', 'waktu', 'waktunya', 'walau', 'walaupun', 'wong', 'yaitu', 'yakin', 'yakni', 'yang']

In [12]:
#stopwords
from nltk.corpus import stopwords
stopwords_indonesia = stopwords.words('indonesian')

#stemmer
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
factory = StemmerFactory()
stemmer = factory.create_stemmer()

#tokenize
from nltk.tokenize import TweetTokenizer

In [13]:
import re

In [14]:
def casefolding(review):
    review = review.lower()
    return review
 
def tokenize(review):
    token = nltk.word_tokenize(review)
    return token
 
def filtering(review):
    # Remove link web
    review = re.sub(r'http\S+', '', review)
    # Remove @username
    review = re.sub('@[^\s]+', '', review)
    # Remove #tagger
    review = re.sub(r'#([^\s]+)', '', review)
    # Remove angka termasuk angka yang berada dalam string
    # Remove non ASCII chars
    review = re.sub(r'[^\x00-\x7f]', r'', review)
    review = re.sub(r'(\\u[0-9A-Fa-f]+)', r'', review)
    review = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", review)
    review = re.sub(r'\\u\w\w\w\w', '', review)
    # Remove simbol, angka dan karakter aneh
    review = re.sub(r"[.,:;+!\-_<^/=?\"'\(\)\d\*]", " ", review)
    return review
 
def replaceThreeOrMore(review):
    # Pattern to look for three or more repetitions of any character, including newlines (contoh goool -> gool).
    pattern = re.compile(r"(.)\1{1,}", re.DOTALL)
    return pattern.sub(r"\1\1", review)

def convertToSlangword(review):
    kamus_slangword = eval(open(r"D:\Random\NLP_bahasa_resources-master\update_combined_slang_words.txt").read()) # Membuka dictionary slangword
    pattern = re.compile(r'\b( ' + '|'.join (kamus_slangword.keys())+r')\b') # Search pola kata (contoh kpn -> kapan)
    content = []
    for kata in review:
        filteredSlang = pattern.sub(lambda x: kamus_slangword[x.group()],kata) # Replace slangword berdasarkan pola review yg telah ditentukan
        content.append(filteredSlang.lower())
    review = content
    return review

def removeStopword(review):
    stopwords = open(r"D:\Random\NLP_bahasa_resources-master\combined_stop_words.txt", 'r').read().split()
    content = []
    filteredtext = [word for word in review.split() if word not in stopwords]
    content.append(" ".join(filteredtext))
    review = content
    return review

In [15]:
datasets = [df]
datasets

[    Sentiment                                         Text Tweet  \
 0    positive  <USER_MENTION> #BOIKOT_<PROVIDER_NAME> Gunakan...
 1    positive  Saktinya balik lagi, alhamdulillah :v <PROVIDE...
 2    negative  Selamat pagi <PROVIDER_NAME>  bisa bantu kenap...
 3    negative  Dear <PROVIDER_NAME> akhir2 ini jaringan data ...
 4    negative            Selamat malam PENDUSTA <PROVIDER_NAME>
 ..        ...                                                ...
 295  positive  Pantesan lancar ya, sinyal <PROVIDER_NAME> yan...
 296  positive         Alhamdulillah lancar pakai <PROVIDER_NAME>
 297  positive  Untung pakai internet <PROVIDER_NAME>, lancar,...
 298  positive  di tempat ramai seperti di lokasi wisata, <PRO...
 299  negative  Sinyal <PROVIDER_NAME> amsyong d stadion gajayana

      Jumlah Kata per Tweet
 0                        7
 1                        6
 2                       19
 3                       11
 4                        4
 ..                     ...
 295                     12
 296                      4
 297                      9
 298                     10
 299                      6

 [300 rows x 3 columns]]

In [16]:
for teks in datasets:
    teks = teks['Text Tweet'].apply(casefolding)
    teks = teks.apply(filtering)
    teks = teks.apply(replaceThreeOrMore)
    teks = teks.apply(tokenize)
    teks = teks.apply(convertToSlangword)
    teks = teks.apply(" ".join)
    teks = teks.apply(removeStopword)
    teks = teks.apply(" ".join)
    print(teks)

0       user mention gunakan produk bangsa provider nama
1                 saktinya alhamdulillah v provider nama
2      selamat pagi provider nama bantu dalam kamar s...
3       dear provider nama jaringan data lambat banget h
4                   selamat malam pendusta provider nama
                             ...
295    pantesan lancar sinyal provider nama lancar lo...
296             alhamdulillah lancar pakai provider nama
297       untung pakai internet provider nama lancar ide
298               ramai lokasi wisata provider nama jaya
299        sinyal provider nama amsyong stadion gajayana
Name: Text Tweet, Length: 300, dtype: object

In [17]:
review_dict = {'Tweet': teks}
data = pd.DataFrame(review_dict, columns = ['Tweet'])
print(df.info())
# data.to_csv(r'D:\Project\Project Sentimen Analisis\dataset-bersih-cellular.csv', sep= ',' , encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sentiment              300 non-null    object
 1   Text Tweet             300 non-null    object
 2   Jumlah Kata per Tweet  300 non-null    int64
dtypes: int64(1), object(2)
memory usage: 9.4+ KB
None

In [18]:
data['Sentiment'] = df['Sentiment']

In [19]:
data

                                                 Tweet Sentiment
0     user mention gunakan produk bangsa provider nama  positive
1               saktinya alhamdulillah v provider nama  positive
2    selamat pagi provider nama bantu dalam kamar s...  negative
3     dear provider nama jaringan data lambat banget h  negative
4                 selamat malam pendusta provider nama  negative
..                                                 ...       ...
295  pantesan lancar sinyal provider nama lancar lo...  positive
296           alhamdulillah lancar pakai provider nama  positive
297     untung pakai internet provider nama lancar ide  positive
298             ramai lokasi wisata provider nama jaya  positive
299      sinyal provider nama amsyong stadion gajayana  negative

[300 rows x 2 columns]

In [20]:
data.drop_duplicates(subset = 'Tweet', keep = 'first', inplace=True)

In [21]:
data = data.dropna()

In [22]:
data

                                                 Tweet Sentiment
0     user mention gunakan produk bangsa provider nama  positive
1               saktinya alhamdulillah v provider nama  positive
2    selamat pagi provider nama bantu dalam kamar s...  negative
3     dear provider nama jaringan data lambat banget h  negative
4                 selamat malam pendusta provider nama  negative
..                                                 ...       ...
295  pantesan lancar sinyal provider nama lancar lo...  positive
296           alhamdulillah lancar pakai provider nama  positive
297     untung pakai internet provider nama lancar ide  positive
298             ramai lokasi wisata provider nama jaya  positive
299      sinyal provider nama amsyong stadion gajayana  negative

[293 rows x 2 columns]

In [23]:
data.to_csv(r'D:\Project\Project Sentimen Analisis\dataset_bersih_cellular.csv', index=False)

In [24]:
dfdata = pd.read_csv(r'D:\Project\Project Sentimen Analisis\dataset_bersih_cellular.csv')

In [25]:
dfdata

                                                 Tweet Sentiment
0     user mention gunakan produk bangsa provider nama  positive
1               saktinya alhamdulillah v provider nama  positive
2    selamat pagi provider nama bantu dalam kamar s...  negative
3     dear provider nama jaringan data lambat banget h  negative
4                 selamat malam pendusta provider nama  negative
..                                                 ...       ...
288  pantesan lancar sinyal provider nama lancar lo...  positive
289           alhamdulillah lancar pakai provider nama  positive
290     untung pakai internet provider nama lancar ide  positive
291             ramai lokasi wisata provider nama jaya  positive
292      sinyal provider nama amsyong stadion gajayana  negative

[293 rows x 2 columns]

In [26]:
dfdata['Jumlah Kata'] = dfdata['Tweet'].str.split().str.len()

In [27]:
dfdata

                                                 Tweet Sentiment  Jumlah Kata
0     user mention gunakan produk bangsa provider nama  positive            7
1               saktinya alhamdulillah v provider nama  positive            5
2    selamat pagi provider nama bantu dalam kamar s...  negative           12
3     dear provider nama jaringan data lambat banget h  negative            8
4                 selamat malam pendusta provider nama  negative            5
..                                                 ...       ...          ...
288  pantesan lancar sinyal provider nama lancar lo...  positive            8
289           alhamdulillah lancar pakai provider nama  positive            5
290     untung pakai internet provider nama lancar ide  positive            7
291             ramai lokasi wisata provider nama jaya  positive            6
292      sinyal provider nama amsyong stadion gajayana  negative            6

[293 rows x 3 columns]

In [28]:
dfdata['Jumlah Kata'].value_counts()

7     33
6     33
5     31
11    27
9     27
10    24
8     24
4     19
14    15
13    15
3     15
12    14
15     7
17     3
16     3
20     1
19     1
2      1
Name: Jumlah Kata, dtype: int64

In [29]:
dfdata['Sentiment'].value_counts()

negative    159
positive    134
Name: Sentiment, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(dfdata['Tweet'], dfdata['Sentiment'], test_size=0.2, random_state=0)

In [31]:
dfdata_train = pd.DataFrame()
dfdata_train['Tweet'] = X_train
dfdata_train['Label Tweet'] = y_train

dfdata_test = pd.DataFrame()
dfdata_test['Tweet'] = X_test
dfdata_test['Label Tweet'] = y_test

In [32]:
dfdata_train

                                                 Tweet Label Tweet
63        signal provider nama bekasi internetan subuh    negative
20   jaringan provider nama nabire bagus berita pal...    negative
46          provider nama provider nama berbagi berkah    positive
266             provider nama tarif mahal sinyal parah    negative
218  alhamdulillah gratisan youtube provider nama r...    positive
..                                                 ...         ...
251                     provider nama bangsat dibiarin    negative
192  santai pakai provider nama provider nama provi...    positive
117  upload video gb menit memang mantab kecepatan ...    positive
47       isi kuota menit habis kacau provider nama url    negative
172  boikot provider nama mungkin menyedot pulsa di...    negative

[234 rows x 2 columns]

In [33]:
dfdata_test

                                                 Tweet Label Tweet
226  benar kacau isi kuota datanya habis provider nama    negative
285  upload file mudah provider nama jaringan inter...    positive
209  user mention permintaan maaf pernyataan apapun...    negative
171                      ayo buang kartu provider nama    negative
118  bonus kuota gb menit nelpon operator provider ...    positive
275                   provider nama hancur jaringannya    negative
73   user mention user mention provider nama alhamd...    negative
157  boikot provider nama mungkin nyedot pulsa dipa...    negative
129  tumben provider nama murah hati padaku pelangg...    positive
45       provider nama kartu mahal bagus provider nama    positive
135                 lumayan murah meriah provider nama    positive
15                                 provider nama iklan    negative
152  ayo penuhi viralkan keras nomor nomer provider...    negative
217                         provider nama user mention    negative
92   harga jual rupiah kilobyte internet memang pro...    negative
12   setuju user mention silahkan boikot pelanggan ...    negative
246  berharap bagus kerja online internetnya sesimp...    negative
22                     stabil disini provider nama url    positive
166  provider nama jaringan muara kaman diperbaiki ...    negative
268                            jariangan provider nama    negative
227                                  provider nama ayo    positive
288  pantesan lancar sinyal provider nama lancar lo...    positive
194  pengen provider nama selangkah maju layanan ja...    positive
258                          bikin kelar provider nama    negative
241                       hijrah selamat provider nama    negative
274                             provider nama gangguan    negative
8    keluhan ditanggapi bikin emosi pulsaku dicuri ...    negative
168  diurus bayar data datanya provider nama provid...    negative
284  kenikmatan didapatkan pengguna provider nama m...    positive
156          biar pelajaran pakai produk provider nama    negative
224           jeleknya jaringan internet provider nama    negative
182                   sedih pakai provider nama stabil    negative
175  provider nama nelpon murah pakai js rp detik p...    positive
5    penembakan paket product nama gangguan provide...    negative
205  provider nama memang murah provider nama bonusnya    positive
103  jaringan provider nama cimahi yah lambat kota ...    negative
212         sinyal nya stabil mantap provider nama url    positive
249  malam jaringan super lambat provider nama berk...    negative
219                 provider nama sinyal hilang melulu    negative
238  tethering pakai kartu provider nama sinyalnya ...    positive
55   benci kelakuan user mention bikin pendukung co...    negative
7    user mention provider nama dalam kamus perhape...    negative
283  provider nama memang juara nonton youtube kuot...    positive
97   malas banget gb gb provider nama masalahnya ha...    negative
59                      asik kencang provider nama url    positive
146  jaringan super cepat provider nama smartphone ...    positive
161  terima kasih provider nama gratis gnya ayo bur...    positive
81   pakai provider nama pakai provider nama merasa...    positive
126                 pindah provider nama provider nama    positive
110  pakai provider nama alhamdulillah bermanfaat s...    positive
229  fitur kartu perdana provider nama provider nam...    positive
64   provider nama tarif internet super kuota negar...    negative
89   kensinya benerin wilayah keramat jati lambat p...    negative
74   memimpikan pakai provider nama mimpi setia pro...    positive
286     untungnya pakai provider nama pekerjaan lancar    positive
278                       lte provider nama bermasalah    negative
239    pakai produk provider nama boikot provider nama    negative
213  fungsinya data lokal flash terpakai duluan dat...    negative
106        akses data kecamatan cisewu kabupaten garut    negative

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [35]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

TF-IDF Vectorizer

In [36]:
vect = TfidfVectorizer(max_features = 10000)
vect.fit(dfdata['Tweet'])
train_tfidf = vect.transform(dfdata_train['Tweet'])
test_tfidf = vect.transform(dfdata_test['Tweet'])

In [37]:
vect

TfidfVectorizer(max_features=10000)

In [38]:
print(train_tfidf)

  (0, 615)	0.477728521187602
  (0, 588)	0.5036727398780341
  (0, 527)	0.09173057502050366
  (0, 439)	0.09173057502050366
  (0, 234)	0.45760462175474514
  (0, 43)	0.540239062368849
  (1, 527)	0.1710020047037356
  (1, 478)	0.46946750423463157
  (1, 439)	0.1710020047037356
  (1, 438)	0.5035505482424502
  (1, 252)	0.26790251510337193
  (1, 61)	0.5035505482424502
  (1, 28)	0.3771191116518184
  (2, 527)	0.2534987644189824
  (2, 439)	0.2534987644189824
  (2, 62)	0.6601048223108579
  (2, 52)	0.6601048223108579
  (3, 630)	0.6239913652455119
  (3, 595)	0.3595198707689722
  (3, 527)	0.11364340812977204
  (3, 484)	0.5144063073204819
  (3, 439)	0.11364340812977204
  (3, 350)	0.4369630890447271
  (4, 707)	0.3595347339102273
  (4, 537)	0.5325149308126867
  :	:
  (231, 439)	0.07586909129238156
  (231, 403)	0.36487915964979994
  (231, 386)	0.3072071971745391
  (231, 363)	0.44682426479296883
  (231, 283)	0.3533811145281221
  (231, 188)	0.32677685560578
  (232, 684)	0.2550147639314625
  (232, 527)	0.09291239279033069
  (232, 439)	0.09291239279033069
  (232, 403)	0.4468459450995463
  (232, 321)	0.32021414420938604
  (232, 266)	0.5101618455446264
  (232, 239)	0.4327649686904674
  (232, 203)	0.40980851763978043
  (233, 602)	0.32942854848560627
  (233, 532)	0.2625825595886397
  (233, 527)	0.06603663674741103
  (233, 439)	0.06603663674741103
  (233, 433)	0.32942854848560627
  (233, 413)	0.38891689832358944
  (233, 356)	0.3625928841660973
  (233, 150)	0.3625928841660973
  (233, 78)	0.29891449945173243
  (233, 77)	0.3175916847301688
  (233, 40)	0.3175916847301688

In [39]:
print(test_tfidf)

  (0, 527)	0.08445207286267074
  (0, 439)	0.08445207286267074
  (0, 321)	0.2910564180545261
  (0, 266)	0.463708059364209
  (0, 239)	0.39335870674145723
  (0, 203)	0.3724926003096066
  (0, 117)	0.42129528622368856
  (0, 48)	0.463708059364209
  (1, 683)	0.42382017917569864
  (1, 527)	0.07718755783863543
  (1, 439)	0.07718755783863543
  (1, 430)	0.42382017917569864
  (1, 252)	0.24185378312358097
  (1, 236)	0.37122009450520127
  (1, 175)	0.4545892562426973
  (1, 97)	0.37122009450520127
  (1, 9)	0.2967890022312052
  (2, 688)	0.2639994452752691
  (2, 684)	0.19711024349485812
  (2, 527)	0.07181538858477242
  (2, 509)	0.42295034326362785
  (2, 508)	0.42295034326362785
  (2, 439)	0.07181538858477242
  (2, 407)	0.2639994452752691
  (2, 348)	0.39432276016816586
  :	:
  (55, 527)	0.12232119171382526
  (55, 439)	0.12232119171382526
  (55, 344)	0.6716391973110118
  (55, 67)	0.7203997784222583
  (56, 527)	0.24524269226142914
  (56, 523)	0.6386062045284857
  (56, 474)	0.35230304475146246
  (56, 439)	0.24524269226142914
  (56, 77)	0.5897259736363176
  (57, 650)	0.3116404914879556
  (57, 527)	0.05983934434728163
  (57, 439)	0.05983934434728163
  (57, 350)	0.23008448252925304
  (57, 341)	0.3524184959673069
  (57, 340)	0.3524184959673069
  (57, 180)	0.3524184959673069
  (57, 177)	0.3285648924926471
  (57, 164)	0.3285648924926471
  (57, 116)	0.504255564811714
  (58, 282)	0.4259436739594378
  (58, 265)	0.4259436739594378
  (58, 187)	0.4259436739594378
  (58, 116)	0.304729278326978
  (58, 102)	0.4259436739594378
  (58, 4)	0.4259436739594378

In [40]:
print(train_tfidf.shape)
print(test_tfidf.shape)

(234, 710)
(59, 710)

In [41]:
print(vect.vocabulary_)

{'user': 688, 'mention': 407, 'gunakan': 202, 'produk': 523, 'bangsa': 33, 'provider': 527, 'nama': 439, 'saktinya': 553, 'alhamdulillah': 9, 'selamat': 571, 'pagi': 472, 'bantu': 36, 'dalam': 114, 'kamar': 269, 'sinyal': 595, 'hilang': 219, 'panggilan': 481, 'darurat': 115, 'url': 684, 'dear': 119, 'jaringan': 252, 'data': 116, 'lambat': 327, 'banget': 32, 'malam': 357, 'pendusta': 496, 'penembakan': 497, 'paket': 476, 'product': 522, 'gangguan': 184, 'pakai': 474, 'nya': 459, 'off': 465, 'gantinya': 186, 'gratisan': 199, 'youtube': 707, 'senang': 577, 'kamus': 271, 'perhapean': 507, 'keluhan': 293, 'ditanggapi': 159, 'bikin': 74, 'emosi': 166, 'pulsaku': 533, 'dicuri': 136, 'soak': 603, 'pulsa': 532, 'berkurang': 65, 'iklan': 228, 'pesan': 511, 'tersembunyi': 652, 'mampus': 360, 'puasa': 530, 'subuh': 615, 'sahur': 552, 'cek': 95, 'tersedot': 651, 'sisa': 599, 'dibaca': 126, 'coba': 104, 'parah': 484, 'koneksinya': 312, 'setuju': 584, 'silahkan': 590, 'boikot': 77, 'pelanggan': 491, 'pendukung': 495, 'dibela': 130, 'belain': 44, 'daftarin': 113, 'kartu': 273, 'tunggu': 670, 'sejam': 568, 'siang': 587, 'rumah': 548, 'gnya': 194, 'kota': 315, 'datanya': 117, 'kangen': 272, 'kiriman': 305, 'pos': 519, 'marchandes': 365, 'mbps': 374, 'kecepatanya': 284, 'kbps': 279, 'kuota': 321, 'full': 179, 'buka': 83, 'google': 195, 'nguras': 449, 'uang': 673, 'baterai': 39, 'koneksi': 311, 'internetnya': 236, 'ampun': 12, 'siput': 598, 'live': 337, 'streaming': 611, 'terganggu': 644, 'mundur': 432, 'nabire': 438, 'bagus': 28, 'berita': 61, 'palsu': 478, 'jelek': 257, 'takalar': 627, 'stabil': 609, 'disini': 157, 'cocok': 105, 'komunikasi': 309, 'keluarga': 292, 'rekan': 541, 'bisnis': 75, 'kerja': 301, 'sekolah': 570, 'kampus': 270, 'jarak': 249, 'kualitas': 319, 'trouble': 663, 'mahal': 350, 'berhari': 58, 'sinyalnya': 597, 'tai': 626, 'internet': 233, 'sumba': 619, 'timur': 657, 'ajaib': 3, 'usage': 687, 'diberikan': 131, 'bukti': 85, 'melebihi': 380, 'batas': 38, 'bertahun': 68, 'aktif': 6, 'bayar': 40, 'pelayanan': 493, 'memuaskan': 393, 'cepat': 97, 'habis': 203, 'tolol': 661, 'namanya': 440, 'urusan': 686, 'chat': 98, 'mungkin': 433, 'benar': 48, 'hore': 223, 'sambu': 554, 'alhamdulilah': 8, 'dikunjungi': 148, 'vendor': 689, 'mitra': 423, 'terlambat': 649, 'tega': 634, 'suka': 617, 'kecepatan': 283, 'extra': 168, 'combo': 106, 'facebook': 169, 'rugi': 547, 'isi': 239, 'jaringannya': 253, 'busuk': 89, 'dirugikan': 155, 'solidaritas': 604, 'perasaan': 503, 'bicara': 73, 'berbagi': 52, 'berkah': 62, 'video': 690, 'menunggu': 408, 'berbuka': 54, 'anak': 15, 'baju': 30, 'koko': 307, 'daerah': 111, 'seminggu': 575, 'care': 93, 'greget': 200, 'network': 445, 'speed': 608, 'irit': 238, 'menit': 403, 'kacau': 266, 'sinyalmu': 596, 'sih': 589, 'pergerakan': 506, 'masif': 368, 'pki': 516, 'antek': 17, 'mari': 366, 'hancurkan': 209, 'menari': 395, 'tabuhan': 625, 'gendang': 190, 'isya': 242, 'tarawih': 629, 'kira': 304, 'diganti': 140, 'komplain': 308, 'php': 513, 'musuh': 437, 'ulama': 676, 'benci': 49, 'kelakuan': 290, 'lihat': 336, 'gambar': 182, 'palu': 479, 'arit': 21, 'ht': 225, 'noh': 451, 'pakek': 475, 'thu': 656, 'digabung': 138, 'sayang': 557, 'terpakai': 650, 'mubazir': 429, 'temennya': 640, 'setan': 581, 'loh': 339, 'rezeki': 545, 'pejet': 487, 'semoga': 576, 'samsung': 555, 'medan': 375, 'indonesia': 230, 'asik': 23, 'kencang': 294, 'beli': 47, 'edge': 165, 'nelepon': 443, 'bangsat': 34, 'signal': 588, 'bekasi': 43, 'internetan': 234, 'tarif': 630, 'super': 622, 'negara': 442, 'murah': 435, 'wilayah': 698, 'sindangkasih': 593, 'ciamis': 99, 'terimakasih': 646, 'menang': 394, 'pointastic': 518, 'deal': 118, 'nomer': 452, 'dibuang': 134, 'dizalimi': 163, 'mantap': 364, 'direspon': 154, 'telpon': 636, 'bentuk': 51, 'tekanan': 635, 'masyarakat': 371, 'perusahaan': 510, 'publik': 531, 'sekelas': 569, 'berhati': 59, 'hati': 214, 'depannya': 122, 'memimpikan': 391, 'mimpi': 420, 'setia': 582, 'ikutan': 229, 'aksi': 5, 'maaf': 348, 'kenyataan': 297, 'terbaik': 641, 'peserta': 512, 'teman': 638, 'sehari': 567, 'sydney': 624, 'program': 524, 'gratis': 198, 'mahasiswa': 352, 'belajar': 45, 'liburan': 335, 'hacker': 204, 'intropeksi': 237, 'turunkan': 671, 'harga': 211, 'merasakan': 417, 'dibarengi': 128, 'webnya': 696, 'dibajak': 127, 'cie': 100, 'spam': 607, 'promo': 525, 'subur': 616, 'cs': 108, 'memang': 386, 'fast': 172, 'response': 544, 'konsumen': 314, 'beda': 42, 'operator': 469, 'sebelah': 560, 'prinsip': 521, 'paketan': 477, 'sumedang': 620, 'kesini': 302, 'masukku': 370, 'penuh': 501, 'isinya': 240, 'nyedot': 463, 'kensinya': 296, 'benerin': 50, 'keramat': 298, 'jati': 254, 'kuat': 320, 'internetku': 235, 'jakarta': 245, 'keamanan': 280, 'ditingkatkan': 161, 'jual': 262, 'rupiah': 550, 'kilobyte': 303, 'juara': 263, 'mahalnya': 351, 'tsel': 664, 'vs': 692, 'sembungan': 574, 'bangunjiwo': 35, 'kasihan': 275, 'bantul': 37, 'terbuang': 642, 'customer': 110, 'jogja': 260, 'ping': 515, 'game': 183, 'segede': 564, 'malas': 358, 'gb': 188, 'masalahnya': 367, 'free': 178, 'youtubenya': 708, 'jamnya': 247, 'hadeh': 205, 'menyenangkan': 416, 'pindah': 514, 'dengar': 120, 'si': 585, 'lakukan': 326, 'reset': 543, 'nomor': 454, 'lemah': 334, 'memakan': 385, 'open': 468, 'page': 471, 'web': 695, 'kekinian': 289, 'keki': 288, 'ciwidey': 103, 'segini': 565, 'cimahi': 101, 'yah': 704, 'bandung': 31, 'lancar': 328, 'jaya': 256, 'gprs': 197, 'akses': 4, 'kecamatan': 282, 'cisewu': 102, 'kabupaten': 265, 'garut': 187, 'glte': 193, 'tanggapan': 628, 'direkomendasikan': 153, 'mingguan': 422, 'tes': 653, 'twitter': 672, 'unreg': 679, 'nonton': 455, 'dibayarin': 129, 'poin': 517, 'bermanfaat': 66, 'sms': 602, 'tarifnya': 631, 'beres': 55, 'nunggu': 458, 'konfirmasi': 313, 'ayo': 25, 'buruan': 87, 'upgrade': 682, 'upload': 683, 'mantab': 363, 'bonus': 78, 'nelpon': 444, 'aman': 11, 'mamuju': 361, 'hemat': 216, 'lagipula': 324, 'nomernya': 453, 'segitu': 566, 'besarnya': 70, 'lumayanlah': 347, 'bukber': 84, 'nulis': 457, 'disertai': 156, 'hashtag': 212, 'hidupnya': 217, 'ungaran': 678, 'giga': 192, 'dihack': 143, 'terjangkau': 647, 'ditelpon': 160, 'tumben': 669, 'padaku': 470, 'diginikan': 141, 'canggih': 91, 'nambah': 441, 'kuotanya': 323, 'hebat': 215, 'puncak': 535, 'halimun': 207, 'kouta': 317, 'betah': 71, 'lumayan': 346, 'meriah': 418, 'wow': 701, 'mendapatkan': 396, 'hadiah': 206, 'fantastis': 170, 'membuat': 388, 'simpel': 592, 'modal': 424, 'promonya': 526, 'min': 421, 'diisi': 145, 'digunakan': 142, 'pelayanannya': 494, 'normal': 456, 'puas': 529, 'melupakan': 384, 'menghapus': 401, 'membacanya': 387, 'menyalahkan': 410, 'diingatkan': 144, 'terima': 645, 'kasih': 274, 'melihat': 382, 'lantunan': 329, 'adhan': 1, 'styles': 612, 'mekah': 378, 'madinah': 349, 'setahun': 580, 'keren': 300, 'smartphone': 601, 'terkoneksi': 648, 'pantau': 482, 'aktivitas': 7, 'sosial': 606, 'media': 376, 'menggunakan': 400, 'medsos': 377, 'sebijak': 561, 'fasilitas': 171, 'oke': 466, 'kayak': 277, 'fb': 173, 'mba': 373, 'yonder': 706, 'genflix': 191, 'menyegarkan': 414, 'mata': 372, 'lari': 331, 'kecil': 286, 'nikmatin': 450, 'suara': 613, 'jernih': 259, 'luas': 345, 'temanku': 639, 'suaranya': 614, 'menyelesaikan': 415, 'pekerjaan': 488, 'jumat': 264, 'weekend': 697, 'penuhi': 502, 'viralkan': 691, 'keras': 299, 'cantik': 92, 'buang': 82, 'main': 353, 'dg': 124, 'umat': 677, 'islam': 241, 'brsatu': 81, 'insya': 232, 'allah': 10, 'ganti': 185, 'ceo': 96, 'bertanggung': 69, 'jawab': 255, 'counter': 107, 'perdana': 505, 'hp': 224, 'berhenti': 60, 'biar': 72, 'pelajaran': 489, 'dipake': 150, 'maksa': 356, 'lte': 344, 'area': 20, 'tarogong': 632, 'uji': 674, 'urus': 685, 'mu': 427, 'makan': 355, 'hasil': 213, 'tuker': 667, 'mohon': 425, 'morowali': 426, 'buruk': 88, 'waru': 694, 'arae': 19, 'site': 600, 'wkp': 700, 'team': 633, 'melakukan': 379, 'pelaporan': 492, 'tindakan': 658, 'perbaikan': 504, 'muara': 428, 'kaman': 268, 'diperbaiki': 152, 'bbm': 41, 'ngakses': 446, 'menyambungkan': 411, 'melulu': 383, 'nyata': 462, 'diurus': 162, 'tukar': 666, 'menyedot': 413, 'menjengkelkan': 404, 'js': 261, 'rp': 546, 'detik': 123, 'pt': 528, 'home': 221, 'melengkapi': 381, 'meriahnya': 419, 'festival': 174, 'terbukti': 643, 'telponnya': 637, 'rusak': 551, 'tukang': 665, 'tipu': 659, 'sedih': 563, 'jarigan': 251, 'jagakarsa': 244, 'cacat': 90, 'bagiberkah': 27, 'susah': 623, 'sentuh': 578, 'mudah': 430, 'berfaedah': 56, 'tumbang': 668, 'semarang': 573, 'kuotaku': 322, 'berbagiberkah': 53, 'sayangi': 558, 'santai': 556, 'diandalkan': 125, 'memggunakan': 389, 'pengen': 498, 'selangkah': 572, 'maju': 354, 'layanan': 332, 'yuk': 709, 'lebaran': 333, 'yaa': 703, 'dipalembang': 151, 'rembang': 542, 'berkat': 63, 'mudiknya': 431, 'nyaman': 460, 'mampir': 359, 'posko': 520, 'untungnya': 681, 'bonusnya': 79, 'jancok': 248, 'payah': 485, 'permintaan': 508, 'pernyataan': 509, 'apapun': 18, 'duluan': 164, 'logikanya': 338, 'konek': 310, 'fungsinya': 180, 'lokal': 340, 'flash': 177, 'lokalnya': 341, 'wajar': 693, 'ramadhan': 537, 'manfaatnya': 362, 'bodoh': 76, 'settingan': 583, 'dipakai': 149, 'menguras': 402, 'anjing': 16, 'jeleknya': 258, 'pandeglang': 480, 'kejadian': 287, 'sebulan': 562, 'ngopi': 448, 'nyantai': 461, 'musik': 436, 'klasik': 306, 'fitur': 176, 'jabo': 243, 'masuk': 369, 'dikerjain': 147, 'ujung': 675, 'lapak': 330, 'rebahan': 539, 'denger': 121, 'top': 662, 'enak': 167, 'belanja': 46, 'online': 467, 'mupeng': 434, 'thr': 655, 'purwakarta': 536, 'astaga': 24, 'sore': 605, 'keasyikan': 281, 'hape': 210, 'kadang': 267, 'cari': 94, 'referensi': 540, 'gudang': 201, 'informasi': 231, 'an': 14, 'mengedit': 397, 'paham': 473, 'tethering': 654, 'badai': 26, 'browsing': 80, 'bahan': 29, 'artikel': 22, 'dijamin': 146, 'got': 196, 'hijrah': 218, 'ditambah': 158, 'mengesalkan': 399, 'pulsanya': 534, 'tm': 660, 'simpati': 591, 'sialan': 586, 'rumahku': 549, 'berharap': 57, 'sesimpati': 579, 'menurun': 409, 'sukabumi': 618, 'mengeluh': 398, 'berkualitas': 64, 'menyedihkan': 412, 'dibiarin': 132, 'gemas': 189, 'aduh': 2, 'mentari': 406, 'memprihatinkan': 392, 'memikirkan': 390, 'kecewa': 285, 'kramat': 318, 'sumpah': 621, 'kb': 278, 'hujan': 226, 'kaya': 276, 'lagunya': 325, 'kotak': 316, 'pelan': 490, 'kelar': 291, 'hooq': 222, 'menonton': 405, 'daerahku': 112, 'dibilang': 133, 'untung': 680, 'aceh': 0, 'singkil': 594, 'digangguin': 139, 'bunyi': 86, 'jariangan': 250, 'jam': 246, 'hancur': 208, 'hobi': 220, 'ngecek': 447, 'penguna': 500, 'pejelasannya': 486, 'sebal': 559, 'bermasalah': 67, 'yess': 705, 'dicari': 135, 'xd': 702, 'kenikmatan': 295, 'didapatkan': 137, 'pengguna': 499, 'file': 175, 'nyoba': 464, 'cuaca': 109, 'pantesan': 483, 'lombok': 343, 'ide': 227, 'ramai': 538, 'lokasi': 342, 'wisata': 699, 'amsyong': 13, 'stadion': 610, 'gajayana': 181}

In [42]:
dfdata_trainmatrix = pd.DataFrame(train_tfidf.todense().T,
                 index = vect.get_feature_names(),
                 columns=[f'D{i+1}' for i in range(len(dfdata_train['Tweet']))])

In [43]:
dfdata_trainmatrix

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,...,D225,D226,D227,D228,D229,D230,D231,D232,D233,D234
aceh,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
adhan,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
aduh,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
ajaib,0.0,0.0,0.0,0.0,0.000000,0.0,0.349998,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
akses,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yess,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
yonder,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
youtube,0.0,0.0,0.0,0.0,0.359535,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
youtubenya,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
yuk,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.565599,0.0,0.0,0.0,0.0,0.0

In [44]:
dfdata_testnmatrix = pd.DataFrame(test_tfidf.todense().T,
                 index = vect.get_feature_names(),
                 columns=[f'D{i+1}' for i in range(len(dfdata_test['Tweet']))])

In [45]:
dfdata_testnmatrix

,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,...,D50,D51,D52,D53,D54,D55,D56,D57,D58,D59
aceh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
adhan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
aduh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
ajaib,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
akses,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.425944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yess,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
yonder,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
youtube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.298544,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
youtubenya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
yuk,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [46]:
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
from sklearn import svm
from sklearn.svm import LinearSVC
from sklearn.svm import SVR
from sklearn import metrics
from sklearn.metrics import roc_auc_score, accuracy_score

In [47]:
def modelEvaluation(predictions, y_test_set):
    #Print model evaluation to predicted result 
    
    print ("\nAccuracy on validation set: {:.4f}".format(accuracy_score(y_test_set, predictions)))
    #print "\nAUC score : {:.4f}".format(roc_auc_score(y_test_set, predictions))
    print ("\nClassification report : \n", metrics.classification_report(y_test_set, predictions))
    print ("\nConfusion Matrix : \n", metrics.confusion_matrix(y_test_set, predictions))

COUNT VECTORIZER

In [48]:
count_v = CountVectorizer()
word_count_matrix = count_v.fit_transform(dfdata_train['Tweet'])
word_count_matrix

<234x612 sparse matrix of type '<class 'numpy.int64'>'
	with 1707 stored elements in Compressed Sparse Row format>

NAIVE BAYES

In [49]:
mnb = MultinomialNB()
mnb.fit(word_count_matrix, y_train)

MultinomialNB()

In [50]:
predictions = mnb.predict(count_v.transform(dfdata_test['Tweet']))
modelEvaluation(predictions, y_test)

Accuracy on validation set: 0.7458

Classification report :
               precision    recall  f1-score   support

    negative       0.78      0.80      0.79        35
    positive       0.70      0.67      0.68        24

    accuracy                           0.75        59
   macro avg       0.74      0.73      0.73        59
weighted avg       0.74      0.75      0.74        59


Confusion Matrix :
 [[28  7]
 [ 8 16]]

Logistic Regression

In [51]:
log_reg = LogisticRegression()
log_reg.fit(train_tfidf, y_train)

LogisticRegression()

In [52]:
predictions = log_reg.predict(test_tfidf)
modelEvaluation(predictions, y_test)

Accuracy on validation set: 0.7627

Classification report :
               precision    recall  f1-score   support

    negative       0.77      0.86      0.81        35
    positive       0.75      0.62      0.68        24

    accuracy                           0.76        59
   macro avg       0.76      0.74      0.75        59
weighted avg       0.76      0.76      0.76        59


Confusion Matrix :
 [[30  5]
 [ 9 15]]

LINEAR SVC

In [53]:
linearsvc = LinearSVC()
linearsvc.fit(train_tfidf, y_train)
predictions = linearsvc.predict(test_tfidf)
modelEvaluation(predictions, y_test)

Accuracy on validation set: 0.7797

Classification report :
               precision    recall  f1-score   support

    negative       0.79      0.86      0.82        35
    positive       0.76      0.67      0.71        24

    accuracy                           0.78        59
   macro avg       0.78      0.76      0.77        59
weighted avg       0.78      0.78      0.78        59


Confusion Matrix :
 [[30  5]
 [ 8 16]]

RANDOM FOREST

In [54]:
rf = RandomForestClassifier()
rf.fit(train_tfidf, y_train)
predictions = rf.predict(test_tfidf)
modelEvaluation(predictions, y_test)

Accuracy on validation set: 0.6949

Classification report :
               precision    recall  f1-score   support

    negative       0.70      0.86      0.77        35
    positive       0.69      0.46      0.55        24

    accuracy                           0.69        59
   macro avg       0.69      0.66      0.66        59
weighted avg       0.69      0.69      0.68        59


Confusion Matrix :
 [[30  5]
 [13 11]]

DECISION TREE

In [55]:
dec_tree = RandomForestClassifier()
dec_tree.fit(train_tfidf, y_train)
predictions = dec_tree.predict(test_tfidf)
modelEvaluation(predictions, y_test)

Accuracy on validation set: 0.7288

Classification report :
               precision    recall  f1-score   support

    negative       0.74      0.83      0.78        35
    positive       0.70      0.58      0.64        24

    accuracy                           0.73        59
   macro avg       0.72      0.71      0.71        59
weighted avg       0.73      0.73      0.72        59


Confusion Matrix :
 [[29  6]
 [10 14]]